<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>
    <script src="/js/jquery-3.7.0.min.js"></script>
</head>
<body>
<form method="post">
    <div>
        <label>
            <input type="text" name="clientId" id="clientId">
        </label>
    </div>
    <div>
        <label>
            <input type="password" name="clientSecret" id="clientSecret">
        </label>
    </div>
    <div>
        <label>
            <input type="text" name="username" id="username">
        </label>
    </div>
    <div>
        <label>
            <input type="password" name="password" id="password">
        </label>
    </div>
    <button type="submit" id="login">登录</button>
</form>
<script type="application/javascript">
    $(function () {
       $("#login").click(function () {
           var clientId = $("#clientId").val();
           var clientSecret = $("#clientSecret").val();
           var username = $("#username").val();
           var password = $("#password").val();
           $.post("http://localhost/auth/login", {
               "clientId":clientId,
               "clientSecret":clientSecret,
               "username":username,
               "password":password
           }, null, "json");
       });
    });
</script>
</body>
</html>